%h3  Public wikis
- if @public_wikis.empty?
  = render text: 'You have not made any public wikis yet'
- else
  = render partial: 'wiki', collection: @public_wikis, as: :wiki
%h3  Private wikis
- if @private_wikis.empty?
  = render text: 'You have not made any public wikis yet'
- else
  = render partial: 'wiki', collection: @private_wikis, as: :wiki
%p
  %p
    = link_to "New Wiki", new_wiki_path, class: 'btn btn-success'
